@font-face {
    src: url({{ url_for('static', filename='fonts/RobotoMono-Regular.ttf') }});
    font-family: "RobotoMono Regular";
}

@font-face {
    src: url({{ url_for('static', filename='fonts/RobotoMono-Thin.ttf') }});
    font-family: "RobotoMono Thin";
}

@font-face {
    src: url({{ url_for('static', filename='fonts/RobotoMono-Bold.ttf') }});
    font-family: "RobotoMono Bold";
}

@font-face {
    src: url({{ url_for('static', filename='fonts/Montserrat-Bold.ttf') }});
    font-family: "Montserrat Bold";
}

@font-face {
    src: url({{ url_for('static', filename='fonts/Montserrat-SemiBold.ttf') }});
    font-family: "Montserrat SemiBold";
}